body
{
font-size: 1em;
font-family:monospace;
color:white;
background-color:rgba(0,0,0,1.0);
}
div
{
list-style-type:none;
//display: -webkit-flex -moz-flex -ms-flex -o-flex flex;
display:inline-block;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px dotted invisible;
}
.hidden
{
    display: none;
}
.sexp>div:first-child
{
color: rgba(255,255,255,1.0);
}
.sexp>div:first-child.selected
{
color: rgba(10,20,25,0.8);
}
.branch
{
//display: -webkit-flex -moz-flex -ms-flex -o-flex flex;
display: block;
margin:0.1em;
margin-left: 1em;
padding:0.1em;
background-color: rgba(255,0,255,0.0);
}
.leaf
{
display: inline-block;
font-size: 1.0em;
padding:0.2em;
padding-left:0.5em;
}
//.branch:before{content:"(";color:silver; font-size:1.1em;}
//.branch:after{content:")"; color:silver; font-size:1.1em;}
//.branch:after{content:")"; color:red; font-size:1.1em; position: relative; float:right}
.selected
{
    background-color:rgba(0,255,200,1.0);
    color: rgba(0,20,40,1.0);
}
.branch.selected
{
    background-color:rgba(255,0,200,0.5);
    color: black;
}
#root>div
{
display:block;
}
.folded
{
    display: block;
    background-color:rgba(50,50,50,1.0);
    width: 1em;
    height: 1em;
}
.defn
{
   background-color: rgba(50,60,100,0.81);
}
.defn > div + div
{
    font-style: bold;
}
.folded.defn
{
   background-color: rgba(50,60,100,0.81);
}
.folded.selected
{
    background-color: red;
}
 .string
{
color: rgba(255,200,0,1.0);
display: block;
width: 31%;
font-style: italic;
font-family: sans-serif;
font-size: 0.8em;
}